<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="welcome-content">
				<h1>Welcome to Twitter</h1>
		  	<h3>
		    	Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.
		  	</h3>
			</div>
		</div>
		<div class="col-md-4">
			<div class="log-in-form">
				<form role="form">
			  <div class="form-group">
			    <input type="text" id="username" name="username" class="form-control">
			  </div>
			  <div class="form-group">
			    <input type="password" id="password" name="password" class="form-control">
			 	</div>
			  <input type="submit" value="Login" class="btn btn-primary">
			</form>	
			</div>
			<div class="sign-up-form">
				<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
			</div>
		</div>
	</div>
</div>